<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>We are delighted to serve you</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput #first>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput #last>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Employee Code</mat-label>
            <input type="number" matInput #code>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary"
            (click)="register(first.value, last.value, code.value)">Register</button>
    </mat-card-actions>
</mat-card>
